@font-face {
    font-family: "CinzelBold";
    src: url("./assets/Cinzel/CinzelDecorative-Bold.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Nabla";
    src: url("./assets/Nabla/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "BungeeShade";
    src: url("./assets/Bungee_Shade/BungeeShade-Regular.ttf");
    font-weight: 500;
}
body
{
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
    background-color: black;
}

h1{
    color: blue;
    font-family: "BungeeShade";
    font-size: 100px;
}

h2,h3,p,a{
    font-family: "Nabla";
    font-size: 50px;
}

.profile{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    /* Give half the side of square , border-radius to make a circular profile pic */
}